extends layout


block content
  link(rel="stylesheet", href="/stylesheets/champions.css")
  h1 #{belt} Champions
  h3 Current Champion #{currentChamp}
  table.six.columns
    thead
      tr
        th Name
        th Won
        th Defences
    tbody
      each champion in champs
        tr
          td= champion.name
          td= champion.won
          td= champion.defences
      br
  
  form(action="/champions/world", method="POST").six.columns
    div.form-group
      label(for='champ-name') Name:
      input#reg-username.form-control(type='text', placeholder='Champion' name='name' required )
    br
    div.form-group
      label(for='fpid') FPID:
      input#reg-email.form-control(type='text', placeholder='steam/fpid' name='fpid' required )
    br
    button#reg-button(type='submit') New Champion
  footer
    
