extends layout

block content
  h1 Wrestle-Bet
  p Welcome to Wrestle-Bet

  form(method='POST' action='/login')
    div.form-group
      input(type="text", name='username', placeholder='username', id='login-username')
      inline #{userError}
      br
      input(type="password", name='password', placeholder='password', id='login-password')
      inline #{passwordError}
      br
      input(type="submit", value="Login")
      br

  a(href='/register') Click here to register a new user.