extends layout

block content
  a(style="color: #f0ad4e", href='/champions/world') World Champions
  h1 Hello #{username}
  h2 Your Cash: #{userCash}
  form(method="POST" action="/bets")
    input(type="text", name="bet_value", id="bet-value-input", min=1, max=userCash, placeholder="bet amount" required) 
    inline #{betError}
    br
    br
    input(type='submit', value="Bet Red", id="bet-red", name="red")
    input(type='submit', value="Bet Blue", id="bet-blue", name="blue")
  br
  table.two.columns(style={float:'right'}) 
    thead
      tr
        th red
        th blue
    tbody
        tr
          td bet1
          td bet2
  form(method="POST" action="/logout")
    input(type="submit", value="logout")
  footer
    link(rel="stylesheet", href="/stylesheets/bets.css")
    script(src="/javascripts/bets.js")