doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/skeleton.css")
    link(rel="stylesheet", href="/stylesheets/normalize.css")
  body
    block content
