extends layout

block content

  form(method='POST' action='/register')
    div.form-group
      label(for='reg-username') Username:
      input#reg-username.form-control(type='text', placeholder='30 char, A-Z,0-9' name='username' required )
      inline #{usernameError}
    br
    div.form-group
      label(for='reg-email') Email:
      input#reg-email.form-control(type='email', placeholder='name@email.com' name='email' required )
      inline #{emailError}
    br
    div.form-group
      label(for='reg-pass') Password:
      input#reg-pass.form-control(type='password' name='password' required )
    br
    div.form-group
      label(for='reg-pass2') Confirm Password:
      input#reg-pass2.form-control(type='password' name='confirmPassword' required )
    br
    button#reg-button(type='submit') Register

  footer
    script(src="/javascripts/reg_auth.js")
    link(rel="stylesheet", href="/stylesheets/reg_auth.css")